<html>
    <head>
    </head>
    
    <body>
        <div>
            <h5>Settings.DATABASES</h5>
            <ul>
            {% for db, database in settings.DATABASES.items %}
                <li>
                    <h5>{{ db }}</h5>
                    <ul>
                    {% for key, val in database.items %}
                        <li>{{ key }}  :  {{ val }}</li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
