<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <![endif]-->
        <title>{% block title %}{% endblock %}</title>
    </head>
	
    <body>
        <header></header>
	
	    <div id="page">
	        <p>You are logged in as {{ user.username }}</p>
		    {% block content %}{% endblock %}
	    </div>
	    <footer> </footer>
    </body>
</html>
