<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <style type="text/css">
            p{
                text-indent: 1.5em;
                font-size:smaller;
            }
        </style>
    </head>
    
    <body>
        <div style="display:table;width:100%;">
            <div style="display:table-cell; width:80%;">
            {% block content %}
            {% endblock %}
            </div>
            <div style="display:table-cell;background-color:whitesmoke;">
                <form action="{% url create %}" method="POST">
                    <fieldset>
                        <legend>Object Creation</legend>
                        <p>TestModel3 has value with property unique=True</p>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Save" />
                    </fieldset>
                </form>
                
                {% if db_form %}
                <form action="{% url create_db %}" method="POST">
                    <fieldset>
                        <legend>Database Creation</legend>
                        {% csrf_token %}
                        {{ db_form.as_p }}
                        <input type="submit" value="Create" />
                    </fieldset>
                </form>
                {% endif %}
            </div>
        </div>
    </body>
</html>
