{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
    <h3>Databases</h3>
    <p>Settings: {{ settings }}</p>
    <div style="display:table;width:100%;">
        {% for database in databases %}
            <div style="display:table-cell;">
            <h2>
                <a href="{% url detail %}?domain={{ database.name }}">{{ database.name }}</a>
                <form method="POST" action="{% url delete_db database.name %}">
                    {% csrf_token %}
                    <input type="hidden" name="database" value="{{ database.name }}" />
                    <input type="submit" value="Delete" />
                </form> 
            </h2>
            
            {% for model, queryset in database.querysets.items %}
                <h4>{{ model }}</h4>
                {% for obj in queryset %}
                    <p>{{ obj }}</p>
                {% endfor %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
