<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block title %}MultiTenancy @ {{ request.get_host }}{% endblock %}</title>
    </head>
	
    <body>
        <header></header>
	
	    <div id="page">
	        {% if user.is_authenticated %}<p>You are logged in as {{ user.username }}</p>{% endif %}
	        <p>There are {{ user_count }} registered users</p>
		    {% block content %}{% endblock %}
	    </div>
	    <footer> </footer>
    </body>
</html>
